*{margin:0; padding:0;}

.taobot col-md-12 {
}

input[type="number"] {
}

tr {
    background-color: #EEEEEE;
}

.clickhereb p {
    font-size: 16px;
    font-family: Roboto Condensed;
    font-weight: bold;
    color: rgba(0,0,0,0.80);
    margin-right: 84px;
    margin-top: 5px;
}

.clickherea p {
    font-size: 16px;
    font-family: Roboto Condensed;
    font-weight: bold;
    color: rgba(0,0,0,0.80);
    margin-top: 5px;
}

.clickhere p {
    font-size: 16px;
    font-family: Roboto Condensed;
    font-weight: bold;
    color: #518c46;
    margin-top: 5px;
}

.header {
    background-color: #F8F8F8;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    text-align: center;
}

.navbar-default {
    border: none;
    background-color: #F8F8F8;
}

.ordered .col-md-2.pull-right {margin-right: 157px;}

.sp .col-md-5 {
    margin-bottom: -70px;
    margin-top: 15px;
}

.row {}

.buy .col-md-8 {
    margin-top: 10px;
    margin-bottom: -28px;
}

.buy .col-md-8.col-md-push-2 {
    background-image: url(5-min.jpg);
    background-size: cover;
    text-align: left;
    font-size: 22px;
    border-radius: 10px;
    margin-top: 90px;
    margin-bottom: 15px;
}

.col-md-4.formb {
    margin-left: -32px;
}

.col-md-4.form {
    margin-right: -32px;
}

.col-md-4.formb {
    margin-top: 26px;
    text-align: center;
    font-family: Roboto Condensed;
    font-size: 18px;
}

li.list-group-item {}

li.list-group-item.tongtien {
    margin-top: 10px;
}

.col-md-4.forma {
    margin-top: 26px;
    text-align: center;
    font-family: Roboto Condensed;
    font-size: 18px;
}

li.list-group-item {}

.col-md-4.form {
    margin-top: 26px;
    text-align: center;
    font-family: Roboto Condensed;
    font-size: 18px;
}

.col-md-6.tenlienlac {
}

input.name {
    height: 30px;
    border-radius: 5px;
    margin-left: -15px;
    width: 220px;
    margin-top: 18px;
}

p.text18 {
    color: black;
    font-family: Roboto Condensed;
    font-size: 22px;
    margin-left: -16px;
}

hr.thuoc {
    width: 50%;
    margin-top: -12px;
}

p.text17 {
    margin-top: 13px;
    font-family: Roboto Condensed;
    font-size: 30px;
    color: #EE1C20;
}

.ordered {
    width: 100%;
    left: 0;
    background-color: #DFED3E;
    margin-top: -1px;
}

.slide img.img-responsive {
    margin-top: 48px;
}

nav.navbar.navbar-default.navbar-fixed-top {
    border-bottom: 2px solid #999f8d;
    border-top: 2px solid #999f8d;
}

button.btn-danger.btn-lg:hover {
    background-color: #3F3F3F;
}

b.number {
    font-family: Roboto Condensed;
    font-weight: bold;
    font-size: 30px;
    color: #c50606;
    margin-top: -20px;
}

.bao {
    width: 100%;
    height: 200px;
}

p.text16 {
    color: white;
    font-size: 22px;
    margin-top: 29px;
    font-family: Roboto Condensed;
}

.footer {
    width: 100%;
    background-color: #363636;
    text-align: center;
    margin-top: 0px;
}

.col-md-4.pull-right {
    margin-top: 6px;
}

.col-md-4.giaban {
    margin-top: 25px;
}

p.text15 {
    font-size: 21px;
    margin-top: 5px;
    margin-left: 26px;
    font-family: Roboto Condensed;
}

.white img {
    margin-top: 20px;
    border-radius: 5px;
    margin-left: 11px;
    width: 94%;
}

p.text14 {
    font-size: 21px;
    margin-top: 15px;
    font-family: Roboto Condensed;
    margin-left: -6px;
}

.taobot p.text13 {
    text-align: center;
    color: white;
    font-size: 32px;
    font-family: Roboto Condensed;
    font-weight: bold;
    margin-top: 8px;
}

.taobot .blue2 {
    width: 100%;
    background-color: #219ECB;
    z-index: 10;
    margin-bottom: 30px;
}

.taobot {
    width: 100%;
    background-color: #C1EEF8;
}

button.btn-danger.btn-lg {font-family: Roboto Condensed;width: 100%;border-color: white;font-weight: bold;background-color: #EE1C20;}

button.btn.btn-danger.btn-lg {}

.buy button.btn.btn-danger.btn-lg {
    margin-top: 0;
}

button.btn-danger.btn-lg.click1 {
    margin-bottom: 30px;
    margin-top: 25px;
}

button.btn-danger.btn-lg.click2 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.text12 b {
    color: #ef1e20;
    font-size: 50px;
    font-family: Roboto Condensed;
}

p.text12 {
    color: gray;
}

p.text12 {
    font-size: 22px;
    color: black;
    font-weight: bold;
    font-family: Roboto Condensed;
    margin-top: -10px;
}

.col-md-7.price {
    margin-top: 25px;
}

.price i {
    font-size: 22px;
    font-family: Roboto Condensed;
}

p.text11 {
    font-size: 28px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    font-weight: bold;
    font-family: Roboto Condensed;
}

.col-md-6.bonanh {
    width: 100%;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 15px;
}

.col-md-12.white {
    background-color: white;
    border-radius: 10px;
    border: 2px solid #2169cb;
}

p.text10 {}

p.text10 {
    font-size: 22px;
    margin-left: 18px;
    margin-top: 22px;
    font-family: Roboto Condensed;
}

.blue {
    width: 100%;
    background-color: #c1eef8;
}

p.text9 {
    color: white;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    font-family: Roboto Condensed;
    text-align: center;
}

.nenblue {
    width: 100%;
    background-color: #219ecb;
    text-align: center;
    margin-bottom: 40px;
}

.buy .col-md-12 {
    background: #D9EA42;
    text-align: left;
    font-size: 22px;
    border-radius: 10px;
    width: 88%;
    margin-top: 65px;
    border: 1px solid white;
}

.buy p.text8 {
    margin-left: 20px;
    margin-top: 14px;
    color: #3F3F3F;
    font-family: Roboto Condensed;
}

button.btn.btn-danger.btn-lg {}

button.btn.btn-danger.btn-lg {
}

button.btn.btn-danger.btn-lg.datmua {
    margin-top: -5px;
    background-color: #EE1C20;
    margin-bottom: 20px;
}

button.btn.btn-danger.btn-lg.datmua:hover {
    background-color: #363636;
}

.buy .btn-danger {
}

.buy .btn-danger:hover {
    background-color: #3F3F3F;
}

.buy .col-md-4 {
    /* margin-top: -405px; */
}

p.text7 {
    font-size: 25px;
    /* margin-top: -468px; */
    color: #3F3F3F;
    font-family: Roboto Condensed;
    margin-bottom: 32px;
}

.buy {
    background-color: #bae491;
    padding: 37px 0px;
}

.infor2 .col-md-6.col-md-push-6 {/* position: relative; *//* top: -65px; *//* left: 525px; *//* margin-bottom: 157px; */}

p.text6 {
    font-size: 22px;
    color: #3F3F3F;
    margin-top: 12px;
    margin-left: 10px;
    font-family: Roboto Condensed;
    background: #DBEB40;
    border-radius: 10px;
    padding: 16px;
}

.container.infor2 {
    text-align: left;
    font-size: 22px;
    /* position: relative; */
    /* top: -1299px; */
    /* left: 0; */
    border-radius: 10px;
    /* height: 464px; */
}

.sp .col-md-7.anhnen {
    margin-top: 48px;
    border-radius: 10px;
    background: #C3D73A;
}

.sp p.namespa {
    font-family: Roboto Condensed;
    font-size: 36px;
    color: #619558;
    font-weight: bold;
    position: relative;
    top: -90px;
}

img {}

.header img {
    margin-top: -9px;
}

.bonanh img {
    border-radius: 10px;
    border: 2px solid #2169cb;
    width: 100%;
}

img.anh7 {
    border-radius: 5px;
    border: 3px solid #D8E943;
    width: 100%;
    margin-left: -15px;
    margin-top: -160px;
    margin-bottom: 25px;
}

.infor2 col-md-6 img {
}

.sp p.namesp {
    font-family: Roboto Condensed;
    font-size: 36px;
    color: #3F3F3F;
    font-weight: bold;
    position: relative;
    top: -87px;
}

.sp img {
    width: 100%;
    margin-top: -80px;
}

.container.sp {
    /* position: relative; */
    top: -1429px;
    left: 0;
    margin-bottom: 0px;
    text-align: center;
}

.sp p.text5 {
    text-align: left;
    font-size: 22px;
    color: #3F3F3F;
    font-family: Roboto Condensed;
    margin-top: 7px;
}

.gioithieu p {
    color: white;
    font-size: 25px;
    font-family: Roboto Condensed;
    font-weight: bold;
    margin-top: 8px;
}

.gioithieu p:hover {
    color: #518C46;
}

.gioithieu a {
    text-decoration: none;
}

.nenxanh {
    width: 100%;
    height: 50px;
    background-color: #96c335;
    left: 0;
}

.col-md-12.gioithieu {
    text-align: center;
}

.intro {}

.intro {background: url(3a-min.jpg) center center;background-size: cover;margin-top: -70px;}

.intro img.img-responsive {visibility: hidden;}

.slide p.text4 {
    font-family: Roboto Condensed;
    font-weight: bold;
    font-size: 30px;
    color: #3F3F3F;
    margin-top: -20px;
}

.slide p.text3 {
    font-family: Roboto Condensed;
    font-weight: bold;
    font-size: 38px;
    color: #3f3f3f;
    margin-top: -20px;
}

.slide p.text2 {
    font-family: Roboto Condensed;
    font-weight: bold;
    font-size: 38px;
    color: #518c46;
    margin-top: -20px;
}

.slide a {
    text-decoration: none;
}

.col-md-12.contact {
    text-align: center;
    margin-top: -20px;
}

.slide p.text1 {font-family: Roboto Condensed;font-weight: bold;font-size: 38px;color: #3f3f3f;}

p.text1 {}

.slide {background: url(2-min.jpg) center center no-repeat;background-size: cover;padding: 162px 0px 127px 0px;}

.slide img.img-responsive {
    width: 100%;
    height: 500px;
}

p.loaitao {
    font-size: 16px;
    font-family: Roboto Condensed;
    font-weight: bold;
    color: rgba(0,0,0,0.80);
    text-align: center;
    margin-top: 16px;
    text-decoration: none;
}

p.loaitao:hover {
    color: #518c46;
}

p.loaitaoa {
    font-size: 16px;
    font-family: Roboto Condensed;
    font-weight: bold;
    color: #518c46;
    text-decoration: none;
    margin-top: 16px;
}

p.loaitaoa:hover {
    color: rgba(0,0,0,0.80);
}

.header {
}
/*-----------------------------RESPONSIVE-------------------*/
body {
    font: 14px/1.4 Georgia, Serif;
}
#page-wrap {
    margin: 50px;
}
p {
    margin: 20px 0;
}

/*
Generic Styling, for Desktops/Laptops
*/
table {
    width: 100%;
    border-collapse: collapse;
}

table {
    margin-top: 26px;
    text-align: center;
    font-family: Roboto Condensed;
    font-size: 18px;
}
/* Zebra striping */
tr:nth-of-type(odd) {
    background: #EEE;
}

tr {
}
th {
    background: #333;
    color: white;
    font-weight: bold;
}
td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}

td.xanh {
    color: #FF5722;
}